body {
  font-size: 16px;
  color: #fff;
  background-color: #161616;
  height: 100vh;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #830707;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  /* Restaurant name */
  font-family: 'Lora', serif;
  color: #97ff25;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  /* Kosher cert */
  color: #e1e1e1;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

.navbar-brand p span {
  /* Star-K */
  vertical-align: middle;
}
.navbar-brand p img{
  margin-bottom: 4px;

}

#nav-list {
  margin-top: 10px;
  
}
#nav-list li img{
  width: 33px;
}

#nav-list a {
  color: #e1e1e1;
  text-align: center;
}

#nav-list a:hover {
  color: #000;
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #ff661e;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
  margin-bottom: 30px;
}

/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 15vh;
  padding-top: 20px;
  padding-bottom: 13px;
  background-color: #0b280b;
  border-top: 0;
  font-size: 22px;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
/* END FOOTER */



/* HOME PAGE */
.category{
  margin-top: 40px;
}
.menu{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

#menu-tile,
#specials-tile,
#map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url('../images/chicken-leg\ \(1\).png') no-repeat;
  background-position: center;
}

#specials-tile {
  background: url('../images/beef.png') no-repeat;
  background-position: center;
}

#map-tile {
  background: url('../images/sushi.png') no-repeat;
  background-position: center;
}

#menu-tile span,
#specials-tile span,
#map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.description{
  padding: 20px;
  margin-top: 400px;
  text-align: center;

  width: 100%;
  /* text-align: center; */
  background-color: #000;
  color: #fff;
  opacity: .8;
  clear: both;
}
.description p{
  font-size: 1em;
  line-height: 30px;
  /* text-transform: uppercase; */
}

/* END HOME PAGE */

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  /* End Header */
  /* End Home Page */
}


/********** Extra small devices only **********/
@media (max-width: 767px) {

  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  #nav-list {
    background-color: #3e2500;
}

  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw;
    /* 1vw = 1% of viewport width */
  }

  .navbar-brand p {
    /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }

  .navbar-brand p img {
    /* Star-K */
    height: 20px;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

 

  #menu-tile,
  #specials-tile, #map-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

  /* Header */
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }

  /* End Header */

  /* Home page */
  #menu-tile,
  #specials-tile, #map-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
}